<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<h1 th:with="text='add a real target'" th:text="${text}">add new target</h1>
			<form th:object="${stockEntity}" id="add_new_target" method="post" role="form">
				
				
				<div class="form-group">
					<label for="stockCode">code</label>
					<input type="text" class="form-control" id="stockCode" th:field="${stockEntity.stockCode}" placeholder="请输入stockCode" />
					<p th:if="${#fields.hasErrors('stockCode')}" th:errors="${stockEntity.stockCode}">stockCode error</p>
				</div>
				
				<div class="form-group">
					<label for="stockName">名称</label>
					<input type="text" class="form-control" id="stockName" th:field="${stockEntity.stockName}" placeholder="请输入stockName" />
					<p th:if="${#fields.hasErrors('stockName')}" th:errors="*{stockName}">stock name error</p>
				</div>
				
				<div class="form-group">
					<label for="currentPrice">current price</label>
					<input type="text" class="form-control" id="currentPrice" th:field="${stockEntity.currentPrice}" placeholder="请输入当前价格" />
					
				</div>
				
				<div class="form-group">
					<label for="aiPrice">ai price</label>
					<input type="text" class="form-control" id="aiPrice" th:field="${stockEntity.aiPrice}" placeholder="请输入ai价格" />
					
				</div>
				
				<div class="form-group">
					<label for="aiRoi">ai roi</label>
					<input type="text" class="form-control" id="aiRoi" th:field="${stockEntity.aiRoi}" placeholder="请输入aiRoi" />
				</div>
				
				<div class="form-group">
					<input type="hidden" th:field="${stockEntity.owner}" th:value = "${stockEntity.owner}"/>
				</div>
				<button type="submit" class="btn btn-default">提交</button>
				
			</form>
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>