<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<div class="table-responsive" th:if="${deal != null}">
				<h1 th:text="#{deal.title}">recorder</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{deal.id}">Id</th>
							<th th:text="#{deal.stockCode}">Stock Code</th>
							<th th:text="#{deal.isBuy}">Buy or Sell</th>
							<th th:text="#{deal.buyTime}">Buy Time</th>
							<th th:text="#{deal.buyPrice}">Buy Price</th>
							<th th:text="#{deal.buyQuantity}">Buy Quantity</th>
							<th th:text="#{deal.sellTime}">Sell Time</th>
							<th th:text="#{deal.sellPrice}">Sell Price</th>
							<th th:text="#{deal.sellQuantity}">Sell Quantity</th>
							<th th:text="#{deal.dealRoi}">Deal ROI</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${deal.id}">[id]</td>
							<td th:text="${deal.stockCode}">[stockCode]</td>
							<td th:text="${deal.isBuy}?'buy':'sell'">[isBuy]</td>
							<td th:text="${#calendars.format(deal.buyTime,'yyyy/MM/dd')}">[buyTime]</td>
							<td th:text="${deal.buyPrice}">[buyPrice]</td>
							<td th:text="${deal.buyQuantity}">[buyQuantity]</td>
							<td th:text="${(deal.sellTime != null)?(#calendars.format(deal.sellTime,'yyyy/MM/dd')):('')}">[sellTime]</td>
							<td th:text="${deal.sellPrice}">[sellPrice]</td>
							<td th:text="${deal.sellQuantity}">[sellQuantity]</td>
							<td th:text="${deal.dealRoi}">[dealRoi]</td>
							
						</tr>
					</tbody>
					
				</table>
				<ul class="nav nav-pills">
					<li><a class="btn btn-default" th:href="@{'/stock/deal/' + ${deal.id} + '/sell'}">卖出</a></li>
					<li><a class="btn btn-danger" th:href="@{'/stock/deal/' + ${deal.id} + '/update'}">修改</a></li>
					<li><a class="btn btn-warning" th:href="@{'/stock/deal/' + ${deal.id} + '/delete'}">删除</a></li>
					<li><a class="btn btn-danger" th:href="@{'/stock/recorder/'}">返回</a></li>
				</ul>
			</div>
			
			<div class="table-responsive" th:if="${not #lists.isEmpty(deals)}">
				<h1 th:text="#{deals.title}">recorders</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{deal.id}">Id</th>
							<th th:text="#{deal.stockCode}">Stock Code</th>
							<th th:text="#{deal.isBuy}">Buy or Sell</th>
							<th th:text="#{deal.buyTime}">Buy Time</th>
							<th th:text="#{deal.buyPrice}">Buy Price</th>
							<th th:text="#{deal.buyQuantity}">Buy Quantity</th>
							<th th:text="#{deal.sellTime}">Sell Time</th>
							<th th:text="#{deal.sellPrice}">Sell Price</th>
							<th th:text="#{deal.sellQuantity}">Sell Quantity</th>
							<th th:text="#{deal.dealRoi}">Deal ROI</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="deal:${deals}">
							<td th:text="${deal.id}">[id]</td>
							<td ><a th:href="@{'/stock/recorder/' + ${deal.id}}"
								th:text="${deal.stockCode}"
							>[stockCode]</a></td>
							<td th:text="${deal.isBuy}?'buy':'sell'">[isBuy]</td>
							<td th:text="${deal.buyTime}">[buyTime]</td>
							<td th:text="${deal.buyPrice}">[buyPrice]</td>
							<td th:text="${deal.buyQuantity}">[buyQuantity]</td>
							<td th:text="${deal.sellTime}">[sellTime]</td>
							<td th:text="${deal.sellPrice}">[sellPrice]</td>
							<td th:text="${deal.sellQuantity}">[sellQuantity]</td>
							<td th:text="${deal.dealRoi}">[dealRoi]</td>
						</tr>
					</tbody>
				
				</table>
				
			</div>
			<div th:if="${deal == null }">
				<ul class="nav nav-pills">
					<li><a class="btn btn-default" th:href="@{'/stock/recoder/buy'}">买入</a></li>

					<li><a class="btn btn-info"  th:href="@{'/'}">返回</a></li>
				</ul>
			</div>
			
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/asb/js/jquery-3.2.1.min.js"></script>
    <script src="/asb/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/asb/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>