<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<div class="table-responsive" th:if="${deal != null}">
				<h1>recorder</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Stock Code</th>
							<th>Deal Time</th>
							<th>Buy or Sell</th>
							<th>Deal Price</th>
							<th>Deal ROI</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${deal.id}">[id]</td>
							<td th:text="${deal.stockCode}">[stockCode]</td>
							<td th:text="${#calendars.format(deal.dealTime,'yyyy/MM/dd')}">[dealTime]</td>
							<td th:text="${deal.buyOrSell}?'buy':'sell'">[buyOrSell]</td>
							<td th:text="${deal.dealPrice}">[dealPrice]</td>
							<td th:text="${deal.dealRoi}">[dealRoi]</td>
							
						</tr>
					</tbody>
					
				</table>
				<ul class="nav nav-pills">
					<li><a class="btn btn-warning" th:href="@{'/stock/deal/' + ${deal.id} + '/detail'}">明细</a></li>
					<li><a class="btn btn-danger">返回</a></li>
				</ul>
			</div>
			
			<div class="table-responsive" th:if="${not #lists.isEmpty(deals)}">
				<h1>recorders</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Stock Code</th>
							<th>Deal Time</th>
							<th>Buy or Sell</th>
							<th>Deal Price</th>
							<th>Deal ROI</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="deal:${deals}">
							<td th:text="${deal.id}">[id]</td>
							<td ><a th:href="@{'/stock/recorder/' + ${deal.id}}"
								th:text="${deal.stockCode}"
							>[stockCode]</a></td>
							<td th:text="${deal.dealTime}">[dealTime]</td>
							<td th:text="${deal.buyOrSell}?'buy':'sell'">[buyOrSell]</td>
							<td th:text="${deal.dealPrice}">[dealPrice]</td>
							<td th:text="${deal.dealRoi}">[dealRoi]</td>
						</tr>
					</tbody>
				
				</table>
				<ul class="nav nav-pills">
					<li><a class="btn btn-default" href="/stock/recoder/add">增加</a></li>
					<li><a class="btn btn-info" href="/">返回</a></li>
				</ul>
			</div>
			
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>