<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			
			<div class="table-responsive" th:if="${stock != null }">
				<h1>target</h1>
				<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Stock Code</th>
						<th>Stock Name</th>
						<th>Current Price</th>
						<th>AI Price</th>
						<th>AI ROI</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${stock.id}">[stock id]</td>
						<td th:text="${stock.stockCode}">[stock code]</td>
						<td th:text="${stock.stockName}">[stock name]</td>
						<td th:text="${stock.currentPrice}">[current price]</td>
						<td th:text="${stock.aiPrice}">[ai price]</td>
						<td th:text="${stock.aiRoi}">[ai roi]</td>
					</tr>
				</tbody>
				</table>
			</div>

			
			<div class="table-responsive" th:if="${not #lists.isEmpty(stocks)}">
				<h1>targets</h1>
				<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Stock Code</th>
						<th>Stock Name</th>
						<th>Current Price</th>
						<th>AI Price</th>
						<th>AI ROI</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stock:${stocks}">
						<td th:text="${stock.id}">[stock id]</td>
						<td><a href="#" 
							th:href="@{'/stock/target/' + ${stock.id}}"
							th:text="${stock.stockCode}">[stock code]</a></td>
						<td th:text="${stock.stockName}">[stock name]</td>
						<td th:text="${stock.currentPrice}">[current price]</td>
						<td th:text="${stock.aiPrice}">[ai price]</td>
						<td th:text="${stock.aiRoi}">[ai roi]</td>
					</tr>
				</tbody>
				</table>
				
				<ul class="nav nav-pills">
					<li><a class="btn btn-default" href="/stock/target/add">增加</a></li>
					<li><a class="btn btn-warning" href="/stock/target/delete">删除</a></li>
					<li><a class="btn btn-danger" href="/stock/target/update">修改</a></li>
					<li><a class="btn btn-info" href="/">返回</a></li>
					
				</ul>
				
			</div>
			
			
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>