<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
  <head>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="icon" href="images/favicon.ico" />

    <title>新四经</title>
    
	<style type="text/css">
		p{margin-left:200px}
	</style>
 
  </head>

  <body>
	<h1>标题一 red</h1>
	<h2>标题二 green</h2>
	<h3>标题三 brown</h3>
	<p style="color:red" th:text="#{home.welcome}">hello</p>
   
     
  </body>
</html>
