<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >

<head th:replace="/fragments/layout :: common_header"></head>



<body>

    <div class="container">

      <nav th:replace="/fragments/layout::navbar"></nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>欢迎使用漫步记账</h1>
        <p>最专业的股票投资记录平台，依据价值分析，提供股票池，投资记录，账目明细。</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/help" role="button">更多详情 &raquo;</a>
        </p>
      </div>


		<div th:replace="fragments/footer :: footer"></div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/asb/js/jquery-3.2.1.min.js"></script>
    <script src="/asb/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/asb/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
