<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<div th:if="${param.error}">
				<label style="color:red">无效的用户名 和 密码</label>
			</div>
			<div th:if="${param.logout}">
				<label style="color:green">已经登出</label>
			</div>
			<h1>login</h1>
			<form th:action="@{/owner/login}"  id="loginform" method = "post"  role="form">
				<div class="form-group">
					<label for="username">ownerName</label>
					<!-- must use name="username" for spring boot default security settings -->
					<input type = "text" class="form-control"  id="username"  name="username"  placeholder="ownerName" />
				</div>
				<div class="form-group">
					<label for="password">password</label>
					<input type="password" class="form-control"  id="password" name="password" placeholder="password" />
				</div>
				
				<button type="submit" class="btn btn-default">登录</button>
			</form>
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>