<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<h1 th:text="#{logou.title}">logout</h1>
		</div>
		
		
		<div th:replace="/fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/asb/js/jquery-3.2.1.min.js"></script>
    <script src="/asb/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/asb/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>