<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head th:replace="/fragments/layout :: common_header"></head>

<body>
	<div class="container">
		<nav th:replace="/fragments/layout::navbar"></nav>
		
		<div class="jumbotron">
			<h1>regist</h1>
			<form th:object="${ownerEntity}" id="add_new_owner" method="post" role="form">
				<div class="form-group">
					<label for="username">ownerName</label>
					<input type="text" class="form-control" id="username" th:field="${ownerEntity.username}" placeholder="ownerName" />
					<p th:if="${#fields.hasErrors('username')}" th:errors="${ownerEntity.username}">username error</p>
				</div>
				<div class="form-group">
					<label for="password">password</label>
					<input type="password" class="form-control" id="password"  th:field="${ownerEntity.password}" placeholder="password" />
					<p th:if="${#fields.hasErrors('password')}" th:errors="${ownerEntity.password}">password error</p>
				</div>
				
				<div class="form-group">
					<label for="comfirmPassword">comfirmPassword</label>
					<input type="password" class="form-control" id="comfirmPassword" th:field="${ownerEntity.confirmPassword}" placeholder="confirmPassword" />
					<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="${ownerEntity.confirmPassword}">confirmPassword error</p>
				</div>
				
				<div class="form-group">
					<label for="telephone">phone</label>
					<input type="text" class="form-control" id="telephone"  th:field="${ownerEntity.telephone}" placeholder="phone" />
					<p th:if="${#fields.hasErrors('telephone')}" th:errors="${ownerEntity.telephone}">telephone error</p>
				</div>
				<button type="submit" class="btn btn-default">注册</button>
			</form>
			
		</div>
		
		
		<div th:replace="fragments/footer :: footer"></div>
	
	
	</div> <!-- /container -->
	
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
    
</body>
</html>